

#titulo1 {
    background-color: #d9ad26 ;
    border: 5px solid #bf930d;
}

h1,h2,h3,h4 {
    text-align: center;
    font-family: fantasy;
}

img {
    width: 300px;
    height: 300px;
    
}

img:hover {
    border: 5px dotted #241b9c  ;
    width: 450px;
    height: 450px;
} 

#lista-cursor {
    list-style-image: url(icon.png);
}

#lista-fav {
    list-style-image: url(corazon.png);
}
#lista-no-fav{
    padding-inline-end: 20px;    
}

#titulo1:hover {
    background-color: violet;

}

figure {
    font-style: oblique;
    font-size: larger;
    text-align: center;
}

body {
    background-color: hsl(240, 3%, 14%);
    color: #efefef;
    
  }

table {
    text-align: center;
    padding-left: 32%;
    border-spacing: 10px;
}

th, td {
    border: 5px solid  #bf920dc4;
}


